.susubscribe {
  margin-top: 100px;

  &__container {
    width: 530px;
    margin: 0 auto;
    border-bottom: 2px solid #999999;
  }
  &__text {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 3.2px;
    text-align: left;
    color: #282828;
  }
}
