* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

@import './header';
@import './banner';
@import './artists';
@import './info';
@import './old';
@import './music';
@import './download';
@import './susubscribe';
@import './footer';
@import './media';

.main {
  padding-bottom: 70px;
  border-bottom: 1px solid #d2d2d2;
}

.text {
  text-align: left;

  h2 {
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3.2px;
    font-size: 35px;
    line-height: normal;
  }
  span {
    color: #df001f;
    font-size: 30px;
    font-family: 'Great Vibes';
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3.2px;
    line-height: normal;
  }
}

.button {
  a {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #df001f;
    padding: 5px 10px;
  }
}
.red-button {
  a {
    width: 200px;
    display: block;
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: center;

    text-transform: uppercase;
    text-decoration: none;
  }
}
.nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    font-size: 13px;
    font-weight: 700;
    line-height: 44px;
    margin-left: 60px;
  }

  li:first-child {
    margin-left: 0;
  }
}
